<div class="jumbotron">
  <h1 class="display-4">Sam and Diana's Translation Glossary</h1>
  <hr class="my-4">
</div>


<div>
<%= link_to "Agrega nuevo termino", new_gloss_path, class: "btn btn-success"%>
</div>
